// HEADER TOP STRIPE
.header-top-strip {
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  // background-color: #1b9bff;
  background-image: linear-gradient(
    90deg,
    rgba(0, 21, 255, 0.991),
    rgba(57, 159, 255, 0.991)
  );
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
  }
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s;
  }
  .icon1 {
    margin-top: 2px;
  }
  .icon1,
  .icon2 {
    color: rgba(255, 255, 255, 0.834);
    margin-right: 2px;
  }
  .icon3:hover,
  .icon4:hover,
  .icon5:hover,
  .icon6:hover {
    color: #00030a;
  }
}

// MAIN HEADER
.header-main {
  .icon,
  h5 {
    font-size: 14px;
    font-weight: 700;
    color: #646464;
    text-transform: uppercase;
  }
  h5:hover {
    color: #1b9bff;
  }
  .icon {
    color: #1b9bff;
  }
}

@media only screen and (max-width: 450px) {
  .header-main {
    h5 {
      font-size: 12px;
    }
  }
}
