.hero {
  h1 {
    font-size: 52px;
    color: #1b9bff;
    font-weight: bolder;
    font-family: "Moulpali", cursive;
  }
  h4 {
    font-size: 20px;
    line-height: 28px;
    color: #444;
    font-weight: 700;
    font-family: "Moulpali", cursive;
  }
  h6 {
    font-size: 18px;
    color: #6c757d;
    font-weight: 400;
    text-align: justify;
    line-height: 26px;
    word-spacing: -2px;
    font-family: "Moulpali", cursive;
  }
  img {
    // width: 70%;
    // height: 80%;
  }
}
