// HERO SECTION
.hero {
  h1 {
    font-size: 52px;
    color: #1b9bff;
    font-weight: bolder;
    font-family: "Moulpali", cursive;
  }
  h4 {
    font-size: 20px;
    line-height: 28px;
    color: #444;
    font-weight: 700;
    font-family: "Moulpali", cursive;
  }
  h6 {
    font-size: 18px;
    color: #6c757d;
    font-weight: 400;
    text-align: justify;
    line-height: 26px;
    word-spacing: -2px;
    font-family: "Moulpali", cursive;
  }
}
// HERO SECTION ENDS HERE

// SERVICES SECTION
.services {
  .heading span {
    margin: 0;
    padding-bottom: 5px;
    font-size: 42px;
    line-height: 58px;
    font-weight: 700;
  }
  .sub-heading {
    font-size: 16px;
    color: #454545;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
  }
  @media only screen and (max-width: 450px) {
    .heading span {
      font-size: 28px;
      line-height: 38px;
    }
    .sub-heading {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
// SERVICES SECTION ENDS HERE

// PROJECTS SECTION
.projects {
  .heading span {
    margin: 0;
    padding-bottom: 5px;
    font-size: 42px;
    line-height: 58px;
    font-weight: 700;
  }
  .sub-heading {
    font-size: 16px;
    color: #454545;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
  }
  @media only screen and (max-width: 450px) {
    .heading span {
      font-size: 28px;
      line-height: 38px;
    }
    .sub-heading {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
// PROJECTS SECTION ENDS HERE

// COUNT SECTION
.counts {
  background-color: #1b9bff;

  .icon {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ccff01;
  }
  h2 {
    font-size: 38px;
    line-height: 52px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    padding-left: 10px;
    cursor: pointer;
    border-left: 5px solid #ffffff;

    &:hover {
      color: #ccff01;
      border-left: 5px solid #ccff01;
    }
  }
  @media only screen and (max-width: 1020px) {
    h2 {
      font-size: 28px;
      line-height: 38px;
    }
    h5 {
      font-size: 14px;
      line-height: 18px;
    }
  }
  @media only screen and (max-width: 450px) {
    h2 {
      font-size: 38px;
    }
    h5 {
      font-size: 16px;
      margin-bottom: 50px;
    }
  }
}
// COUNT SECTION ENDS HERE

// MARQUEE SECTION
.marquee {
  background-color: rgb(17, 0, 13);
  box-shadow: 0px 0px 20px rgb(100, 100, 100);

  .overlay {
    background-color: none;
  }
  .logo1 {
    width: 150px;
    height: 80px;
    margin: 0px 50px 0px 100px;
  }
  .logo2,
  .logo6 {
    width: 100px;
    height: 80px;
    margin: 0px 50px;
  }
  .logo3 {
    width: 250px;
    height: 80px;
    margin: 0px 50px;
  }
  .logo4,
  .logo5 {
    width: 150px;
    height: 80px;
    margin: 0px 50px;
    border-radius: 10px;
  }
  .logo4 {
    padding: 10px;
    background-color: rgb(246, 239, 255);
  }
  .logo7 {
    width: 250px;
    height: 80px;
    margin: 0px 100px 0px 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
  }
}
// MARQUEE SECTION ENDS HERE

// CONTACT US SECTION
.contact-form {
  .heading span {
    margin: 0;
    padding-bottom: 5px;
    font-size: 42px;
    line-height: 58px;
    font-weight: 700;
  }
  .sub-heading {
    font-size: 16px;
    color: #454545;
    font-weight: 400;
    text-align: center;
    line-height: 26px;
  }

  input {
    font-size: 14px;
    padding: 8px 0px 10px 15px;
    background-color: #f0f8ff;
  }

  .map {
    border-radius: 10px;
  }

  @media only screen and (max-width: 450px) {
    .heading span {
      font-size: 28px;
      line-height: 38px;
    }
    .sub-heading {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
// CONTACT US SECTION ENDS HERE
