* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// COLORS
$border: #deeaff;

body {
  border: 10px solid $border;
}

a {
  text-decoration: none;
}

.logo h1 {
  font-size: 42px;
  color: #1b9bff;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "MonteCarlo", cursive;
}
