* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// COLORS
$border: #deeaff;

body {
  border: 10px solid $border;
}

a {
  text-decoration: none;
}

.logo h1 {
  font-size: 42px;
  color: #1b9bff;
  font-weight: 700;
  margin-bottom: 0;
  font-family: "MonteCarlo", cursive;
}

button {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 40px;
  border-radius: 25px;
  background: #51b4ff;
  border: 3px solid #51b4ff;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.08);
  box-shadow: inset 0 0 10px 0.5px #51b4ff, 0 0 30px #76c4ff;
}
